# Copyright 2025 Ulisha Limited
# Licensed under the Apache License, Version 2.0
# See LICENSE file in the project root for full license information.

# Paystack config
PAYSTACK_SECRET_KEY=sk_test_f057eca8b28c269a0daf5aac6274877182589cfc
PAYSTACK_CALLBACK_URL_DEVELOPMENT=http://localhost:3000/orders
PAYSTACK_CALLBACK_URL_PRODUCTION=https://www.ulishastore.com/orders

# Mixpay config
MIXPAY_APP_ID=

# Prerender config
PRERENDER_TOKEN=

# sentry config
SENTRY_AUTH_TOKEN=

# recapotcha config
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=
RECAPTCHA_ACTION=

# redis url
REDIS_URL=